<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" ></ion-menu-button>
      <ion-back-button routerLink="/folder/home" ></ion-back-button>
      <ion-title>Mi cuenta</ion-title>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      
      <ion-row>
        <ion-col size="4" offset="4">
          <ion-avatar>
            <ion-img src={{this.userInfo.userPhoto}}></ion-img>
          </ion-avatar>
<!--           <ion-button #userphoto (click)="btFotoAsignar()" fill="clear">
            <ion-icon name="camera-outline" size="small"></ion-icon>
          </ion-button>
          <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let foto of fotos; index as posicion; let indice=index">
                    
                    <ion-img [src]="foto.webviewPath" (click)="btFotoAsignar()"></ion-img>
    
                </ion-col>
            </ion-row>
        </ion-grid> -->
        </ion-col>
      </ion-row>

      <ion-row>
         
        <ion-col size="10" offset="1">
          <ion-item lines='none'>
            <ion-label>Usuario : </ion-label>
            <ion-input  #username value={{userInfo.userName}}> </ion-input>
          </ion-item>
         <ion-item lines='none'>
          <ion-label>Email : </ion-label>
          <ion-input #useremail value={{userInfo.userEmail}} disabled="true"></ion-input>
         </ion-item>
         <ion-item lines='none'>
          <ion-label>Teléfono : </ion-label>
          <ion-input  #userphone value={{userInfo.userPhone}}> </ion-input>
        </ion-item>
        <ion-item lines='none'>
          <ion-label>Creado : </ion-label>
          <ion-input [ngModel]="this.time | date:'dd-MM-yyyy hh:mm:ss'" disabled="true"></ion-input>
        </ion-item>
        </ion-col>
          <ion-col size="8" offset="1">      
            <ion-item lines='none'>
              <ion-label>Rol de Usuario: </ion-label>
              <ion-select #userrol [(ngModel)]="this.userInfo.userrol" interface="action-sheet">
                <ion-select-option value="viewer">Standard</ion-select-option>
                <ion-select-option value="admin">Admin</ion-select-option>
              </ion-select>
            </ion-item> 
          </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="8" offset="2">  
          <!-- GUARDAR CAMBIOS  -->
          <ion-button class="submit" (click)="updateUserCollection(username,userphone,userrol)" ><h6>Guardar los cambios</h6></ion-button>
        </ion-col>
            
        <ion-col size="8" offset="2">  
          <!-- RECUPERAR PASSWORD  -->
          <ion-button class="submit" (click)="recoverPassword();" fill="outline"><p>Cambiar mi contraseña</p></ion-button>
        </ion-col>


      <ion-col size="8" offset="2">  
        <!-- BORRAR USUARIO  -->
        <ion-button class="submit" (click)="remove();" fill="outline"><p>Darse de baja</p></ion-button>
      </ion-col>
    </ion-row>
           
      <ion-row>
        <ion-col size="10" offset="1">  
          <ion-card>
          <ion-item (click)="goToFavoritos()">
            <h1 ><ion-icon name="star"></ion-icon> Mis Favoritos</h1>
          </ion-item>
        </ion-card>
        </ion-col>
      </ion-row>  

    </ion-grid>
</ion-content>
