<ion-header [translucent]="true">
  <ion-toolbar *ngFor="let p of appPages;">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" ></ion-menu-button>
      <ion-back-button routerLink="/folder/home" ></ion-back-button>
      <ion-title>{{ p.title }}</ion-title>
    </ion-buttons>
    <!-- <ion-button slot="end" fill="blank" color="primary" (click)='shareOnclick()'>
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-button> -->
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-router-outlet id="folder-content"></ion-router-outlet>

</ion-content>
