<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="menu-list">
          <ion-grid>

<!--  CABECERA MENU - LOGO     -->        
            <ion-row>
              <ion-list-header slot="end">App Catastro</ion-list-header>
              <ion-col size="4" offset="4">
              <img src="assets/logo.png" />
              </ion-col>
            </ion-row>

    <!--    OPCIONES MENU - TOGGLE -->
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
          </ion-grid>
        </ion-list>

        <ion-list>
          <ion-row>
            <ion-col size="10">
              <ion-item>
              <ion-router-link (click)="goToMiCuenta();" color="black">
                  <ion-icon name="person"></ion-icon>
                  <ion-label><h5>Mi Cuenta</h5></ion-label></ion-router-link>
                </ion-item>
            </ion-col>

  <!--       BOTON CERRAR SESIÓN -->
            
              <ion-col size="4" offset="4">
                <ion-button fill="outline" (click)=" goToSignOut()">
                <ion-icon name="log-out"></ion-icon> <p>&nbsp;CERRAR SESIÓN</p> </ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-content>
      </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>