<ion-header>
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Historico</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- Items del Historico de Consultas -->
    <ion-list>
        <ion-list-header lines="inset">
            <ion-label>Fecha:Hora</ion-label>
            <ion-label>nota</ion-label>
            <ion-label>latitud:longitud</ion-label>
            <ion-label>RefCatastral</ion-label>
            <ion-label></ion-label>
        </ion-list-header>

        <ng-container *ngIf="markilos.length > 0 else SinRegistros">
            <ion-item *ngFor="let markilo of markilos" >

                <ion-list (click)="modeloCatastroDetalles(markilo.irmc.modeloCatastro.rcParcela)">
                <ion-item detail="false"  detail>
                    <ion-label>{{markilo.id}}<br>
                               {{markilo.nota}}</ion-label>


                <ion-label>{{markilo.latitud}}<br>
                           {{markilo.longitud}}</ion-label>


                    <ion-label>{{markilo.irmc.modeloCatastro.rcParcela}}</ion-label>
                </ion-item>
                </ion-list>

            </ion-item>
        </ng-container>

        <ng-template #SinRegistros>
            <ion-item class="ion-text-center">
                <ion-label>--- No hay registros en el Historico ---</ion-label>
            </ion-item>
        </ng-template>

    </ion-list>









</ion-content>
