<!--

    folder/estadisticas

-->
<ion-header>
    <ion-toolbar>
        <ion-title>Estadísticas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">

        <ion-card>
            <ion-card-header>
                <ion-title>Peticiones por Año</ion-title>
            </ion-card-header>
            <ion-card-content>
                <canvas id="barCanvas" #barCanvas></canvas>
            </ion-card-content>
        </ion-card>

        <!--
        <ion-card>
            <ion-card-header>
                Doughnut Chart
            </ion-card-header>
            <ion-card-content>
                <canvas #doughnutCanvas></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Line Chart
            </ion-card-header>
            <ion-card-content>
                <canvas #lineCanvas></canvas>
            </ion-card-content>
        </ion-card>
        -->
    </div>
</ion-content>